<html>
  <head>
    <title>Carrie remote control</title>
    <link rel="stylesheet" type="text/css" href="static/carrie.css"></link>
    <link rel="stylesheet" type="text/css" href="static/jquery-ui/css/smoothness/jquery-ui-1.8.16.custom.css"></link>
    <script type="text/javascript" src="static/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="static/jquery-ui/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="static/index.js"></script>
  </head>
  <body>
    <h1><a style="text-decoration:none" href='{{about_url}}'>remote control</a></h1>
    <div><button id="pause">pause/play</button></div><br>
    <div><button id="backward">backward</button>
    <button class="fakebutton">7s</span>
    <button id="forward">forward</button></div><br>
    <div><button id="bbackward">backward</button>
    <button class="fakebutton">60s</span>
    <button id="fforward">forward</button></div><br>
    <div><button id="voldown">volume down</button>
    <!-- <button id="mute">mute</button> -->
    <button id="volup">volume up</button></div><br>
    <span><button id="osdon">enable osd</button>
    <button id="osdoff">disable osd</button></span>
	<button id="fullscreen">Fullscreen</button><br>
	<div><p>Status: <span id="status"></span></p></div>
  </body>
</html>
