carrie.org
setup.sh
android/local.properties
android/.classpath
android/.project
android/.settings
android/ant.properties
android/bin
android/gen
android/build.xml
carrie-release.keystore
dist
carrie.egg-info
*#
.#*
build
*.pyc
env
