carrie.org
setup.sh
android/local.properties
android/.classpath
android/.project
android/.settings
android/ant.properties
android/bin
android/gen
carrie-release.keystore
dist
carrie.egg-info
*#
.#*
build
*.pyc
env
README.html
android/carrie.keystore
